th {
   width: 200px;
}
thead .btn{
    width: 150px;  
}
tbody td{
    width: 200px;    
}
.table{
    width: 1000px;     
}
tbody tr:hover{
    background-color: teal;
    color: white;
    cursor: pointer;
}
tbody tr:active{
    border: 2px solid tomato;
}